[submodule "WebProjects/UU/SocialForceModel"]
	path = WebProjects/UU/SocialForceModel
	url = git@github.com:kianniek/Implementation-of-the-social-force-model-for-pedestrian-dynamics.git
[submodule "WebProjects/UU/BoidsOnWebGPU"]
	path = WebProjects/UU/BoidsOnWebGPU
	url = git@github.com:alextjanse/BoidBoys.git
